@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Patrick+Hand+SC&display=swap");

/* 
font-family: 'Merienda One', cursive;
font-family: 'Patrick Hand SC', cursive;
*/

:root {
  --primary-color: orange;
  --dark-grey:#14213d;
  --off-color:#e5e5e5;
  --para-color:#023047 ;
  
}

body {
  margin: 0;
  color: teal;
  font-family: "Merienda One", cursive;
}

hr{
    margin: 1.5rem 0rem;
}


.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* links */

.links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* .nav-pills:hover{
    color:tomato;
} */

.link-primary {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: turquoise 4px 4px 8px;
}

.link-secondery {
    color: var(--primary-color);
    border-radius: 1rem;
    border:1px solid var(--primary-color);
    box-shadow: #ffb703 4px 4px 4px;
}


/* --------- lists -------- */

.list-non-bullet{
    list-style:none;
}

.list-inline{
    display: inline;
    padding: 0.3rem 0.5rem;
}


/*------------ navbar---------- */

.navbar{
 
    background-color: var(--primary-color);
    color:white;
    padding: 0.5rem;
    border-bottom-left-radius: 1.3rem;
}

.navbar .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar .links{
    color:white;
    
}

a.links:hover{
    font-weight: bolder;
    color: tomato;
}

.nav-pills{
    text-align: right;

}

/* ------heading--------- */

.heading{
    padding: auto;
    
    text-align: center;
}

.heading .heading-img{
    max-width: 320px;
    margin: auto;
    display: block;

}
.heading .heading-heading
{
    color: var(--dark-grey);
}

.heading-heading span{
    color: var(--primary-color);
}

/* ------sections--------- */
.section{
    padding: 2rem;
}

.section h3{
     text-align: center;
}

.ow{
background-color: var(--off-color);
}

/* -----------footer----------- */

footer{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 2rem;
    font-size: large;
    font-weight: bold;
}


footer .links{
    color:#ffffff;
    padding: 0.4rem;
    text-align: center;
}





ul{
    padding: 0%;
    
}

/* ---------         ---------- */
  
.heading-one {
    color: orange;
  }
.heading-two{
    color: #fb8500;
}
  
.para {
    color: rgb(255, 14, 94);
  }